#fancybox-outer{
	height: auto !important;
}
.catalog-subtitle {
    margin-top: 20px;
}
.seo-text{
	width: 950px;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    text-align: justify;
}
table.bankpayment_info, table.bankpayment_info_int{
	width: 170px !important;
}
.order-info-box table.bankpayment_info, .order-info-box table.bankpayment_info_int{
	width: 300px !important;
}
.bestsales-bloc, .most-searched-bloc{
	display: none;
}
.cms-page-view td{
	padding-right: 1%;
	padding-bottom: 1%;
}
body[class*="cms-services-guides"] .std img{
	max-width: 100%;
	margin-right: 0px !important;
}
body[class*="cms-services-guides"] .social-bookmarking img{
	width: 5%;
}
.finance-logos{
	height: auto;
}
.my-wishlist-responsive {
    overflow-x: auto;
    overflow-y: hidden
}
.my-orders-table-responsive{
    overflow-x: auto;
    overflow-y: hidden
}
.cms-destock-meubles{
    border-left: 1px solid #CBD0BA;
    padding: 0 10px 0 25px;
}
.cms-services{
    border-left: 1px solid #CBD0BA;
    padding: 0 10px 0 25px;
}
.cms-services h3 {
    color: #AF5C22 !important;
    font-size: 11px;
}
.cms-destock-meubles h3 {
    color: #AF5C22 !important;
    font-size: 11px;
}
#toogle-resp{
    font-size: 25px!important;
    display: none!important;
	color: black!important;
}
/*============================ Largeur 1260px ============================*/
@media (max-width: 1260px) {
	.cms-index-index .engagements .engagements-push .featured-selection .cc{
	   right: -10px;
	}
	.product-tabs-content{
		width: 720px;
	}
	.catalog-product-view .col-left .recoBox .block-content li .product-prediggo-bottom, .catalog-category-view .col-left .recoBox .block-content li .product-prediggo-bottom{
		padding: 5px 5px 0px 5px;
	}
	.catalog-category-view .col-left .recoBox .block-content li .price-box{
		width: auto;
		padding: 0px;
	}
	.catalog-product-view .featured-selection .product-grid-bottom{
		width: 200px;
	}
	.catalog-product-view .featured-selection .product-zoom{
		margin-left: 50px;
	}
	.catalog-product-view .featured-selection .product-image{
		margin: 10px auto;
	}
	.header .quick-access{
		margin-top: -25px !important;
	}
	#fancybox-wrap {
		width: 70% !important;
		height: 70% !important;
		/*margin-top: 30%;
		left: 0px !important;*/
	}
	.overlay_selection_product .overlay_selection_product_image a img.testkely{
		height: auto !important;
	}
	.overlay_selection_product h2 a{
		line-height: 15px;
		font-size: 12px;
		text-align: left;
	}
	.block-sidebar-cart.block-progress .block-content ul li.item .product-mini-right{
		width: 85%;
	}
	.cart .cart-collaterals .col-cart-left{
		display: none;
	}
	.product-view .box-reviews .form-add .form-list .input-box{
		width: auto;
	}
	#product_tabs_avis_contents .form-list .input-box textarea{
		width: 85%;
	}
    #footer-col3{
        /*display: none;*/
    }
    .footer {
        padding: 0px!important;
        width: 100%;
        padding-top: 2%!important;
    }
    .page{
        max-width: 100%!important;
    }
    .wrapper {
        min-width: 0px!important;
    }
    #nav{
        width: 100%!important;
    }
    .recolist .jcarousel-clip-horizontal {
        width: 99%!important;
    }
    .cms-index-index .col1-layout .col-main, .main, .slide , .header, .footer, .main, #nav, #footer-top, #footer-bottom, .engagements{
        width: 100%!important;
    }
    #slide-commands a#next{
        left: 155%!important;
    }
    #div-interaktingslider {
        margin-top: 1px;
        position: relative;
        width: 100%!important;
    }
    #div-interaktingslider img {
        width: 100%!important;
    }
    .featured-selection.home-reco {
        margin-top: 10px;
    }
    body {
        background-size: contain!important;
        padding-left: 13%;
        padding-right: 13%;
    }
    .header h1.logo {
        width: 22%;
        float: left!important;
    }
    .header .logo span {
        font-size: 1vw;
    }
    .header .quick-left {
        width: 60%;
    }
    .search_mini_form, .search_mini_form .form-search {
        width: 100%!important;
    }
    .engagements .engagements-content {
        /*width: 100%;
        height:0px!important;*/
    }
    .col2-left-layout .col-main {
        width: 75%!important;
		padding-left: 2%;
    }
    .col2-left-layout .col-left {
        width: 23%;
    }
    .products-grid {
        /*width: 98%!important;*/
    }
    #verticalrecolist li {
        width: 100%;
    }
    ul#jcarousel-recolist {
        width: 3000px!important;
    }
    .col-main{
        padding: 0px!important;
    }
    .col-1.registered-users {
        width: 100%;
    }
    .content {
        width: 90%!important;
    }
    .products-list{
        width:100%!important;
    }
    .toolbar{
        margin: 0!important;
    }
    .engagements-container {
        position: relative;
    }
    .submenu{
        width: auto!important;
        height: auto!important;
    }
    .category-products .products-grid li.item {
        width: 203px;
        min-height: 202px!important;
        max-height: 202px!important;
    }
	.featured-selection .category-products .products-grid li.item {
        min-height: auto!important;
		overflow: hidden;
		break-inside: avoid-column;
		-webkit-column-break-inside: avoid;
    }
    .engagements .engagements-push {
        /*float: right;
		margin-right: 55px;*/
    }
    .engagements-content {
        /*margin-left: 1%!important;*/
    }
    span.cc {
        right: -38%;
    }
    .logo {
        float: none!important;
    }
    .header .logo span {
        margin-top:0px!important;
    }
    #nav > li > a > span {
        /*font-size: 0.9vw;*/
    }
    .header a.logo {
        margin-top: 20px;
        float: left!important;
    }
	.header{
		background: none;
	}
	.featured-selection.home-reco{
		background: none;
	}
	.catalog-category-view .col2-left-layout .col-main, .catalog-product-view .col2-left-layout .col-main, .review-product-list .col2-left-layout .col-main{
		background: none;
	}
	.cms-page-view .col2-left-layout .col-main{
		background: none;
	}
}
/*============================ Largeur 1220px ============================*/
@media (max-width: 1220px) {
	.engagements .engagements-content{
		width: 710px;
	}
    body{
        background-image: none;
        padding-left: 2%;
        padding-right: 2%;
    }
	.footer-copyright ul{
		margin-right: 16px;
	}
	#nav li div.submenu{
		padding-bottom: 10px;
	}
	#nav .submenu-center{
		width: 270px;
		margin-top: 0px;
	}
	#nav .submenu-right{
		margin-top: 0px;
	}
    #slide-commands a#next{
        left: 155%!important;
    }
    .featured-selection.home-reco {
        margin: 0px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    #nav > li > a > span {
        font-size: 1.02vw;
    }
}
/*============================ Largeur 940 ============================*/
@media (max-width: 940px) {	
	.seo-text{
		width: 100%;
		padding: 10px 0 0 0;
	}
	#nav a {
		padding: 5px 5px 5px 5px;
	}
	#nav > li.nav-0 > a{
		background: url(../images/destock/picto-home.png) no-repeat scroll 10px 5px transparent;
	}
	#nav > li.nav-special > a{
		border-bottom: 0.7px solid #ffffff38;
	}
	.footer-col ul li a{
		line-height: 20px;
	}
	#newsletter-validate-detail-rp, #newsletter-validate-detail{
		background: none;
	}
	.product-tabs-content{
		width: auto;
	}
	#info-tabs .std{
		position: inherit;
	}	
	table.bankpayment_info, table.bankpayment_info_int{
		width: 300px !important;
	}	
	.product-top-produit{
		width: 30px;
		height: 30px;
		top: 65px;
	}	
	.product-top-vente{
		width: 20px;
		height: 20px;
		top: 120px;
	}	
	.product-new{
		width: 30px;
		height: 30px;
	}	
	.product-coup-de-coeur{
		width: 20px;
		height: 20px;
		top: 60px;
	}	
	.product-mise-en-avant{
		width: 20px;
		height: 20px;
		top: 110px;
		left: 10px;
	}	
	.product-selection-du-moment{
		width: 20px;
		height: 20px;
		top: 155px;
		left: 10px;
	}		
	.product-view .old-price{
		text-align: center;
	}	
	.featured-selection .category-products .products-grid li.item .product-zoom-ajax{
		margin-left: 25%;
	}	
	.product-view .product-img-box .product-image a.product-discount-pourcent{
		background: brown;
		border-radius: 8px;
	}	
	.recolist{
		margin-left: -8px;
	}	
	p.required{
		text-align: left;
	}	
	.opc .buttons-set{
		padding-top: 0px;
	}	
	.form-list .field25.field{
		width: auto;
	}	
	.form-list .field25.field .input-box{
		width: auto;
	}	
	.account-login .content{
		min-height: 20px;
	}
	#checkout-step-login .account-login form{
		width: 100%;
	}	
	#checkout-step-login .account-login .content{
		min-height: 20px;
		width: 97% !important;
	}	
	.product-social.product-facebook-like{
		left: 105px;
	}	
	.product-social.product-twitter-like{
		left: 185px;
	}	
	.product-social.product-google-like{
		left: 265px;
	}	
    .header a.logo {
        float: none!important;
        margin: 0 auto!important;
        display: block;
        margin-top: 10px!important;
        width: 30%!important;
    }
    .header h1.logo a.logo {
        width: 100%!important;
    }
	#info-tabs > div > .std, #info-tabs #customer-reviews, #info-tabs #contactForm{
		border-right: none;
		border-left: none;
		padding-top: 65px;
	}	
	#info-tabs .product-tabs li a{
		background: #6c6c6c;
		/*width: 105px;*/
	}	
	.product-tabs{
		height: auto;
	}	
	#info-tabs li.active a, #info-tabs li a:hover{
		background: none;
	}	
	.checkout-onepage-index .col2-right-layout .main{
		padding: 20px 0px 0px 0px;
	}	
	.checkout-onepage-index .main .col-main{
		width: 100%;
	}	
	.checkout-onepage-index .col2-right-layout .col-right{
		width: 100%;
		margin-top: 5% !important;
		float: left;
		padding: 0px;
	}	
	#checkout-payment-method-load ul li {
		float: left;
		margin: 5px;
		width: 110px;
	}	
	#checkout-payment-method-load ul li input{
		left: 10%
	}	
	#checkout-payment-method-load ul li.p_method_systempaymulti input{
		left: 10%
	}	
	#checkout-payment-method-load ul li.payment-title{
		width: 100%;
		padding: 1px;
	}	
	#discount-coupon-form{
		margin-left: 10%;
	}	
	.cms-cart-shipping{
		margin-left: 10%;
	}	
	#ordercomment-comment{
		width: 100%;
	}	
	#opc-review .buttons-set{
		padding: 5px 15px;
	}	
	.opc .checkout-agreements{
		padding: 5px 15px;
	}	
	#nav > li.level0 > a.twolines {
		height: 20px;
		line-height: 10px;
	}	
	#nav > li.level0 > a {
		line-height: 20px;
	}	
	.catalog-category-view #layered-list{
		/*column-count: 2;*/
		padding: 20px 0 20px 0;
	}	
	#narrow-by-list2 dt, #layered-list dt{
		padding: 0px;
		border: none;
	}	
	.receive-promo{
		margin-bottom: 20px;
	}
}

/*============================ Largeur 914px ============================*/
@media(max-width: 914px) {
	.paiement-bloc, .facilite-paiement-bloc{
		float: left;
	}	
	.footer .paiement{
		padding: 0;
	}	
	.footer .paiement .paiement-bloc{
		width: 100%;
	}	
	.footer .paiement .facilite-paiement-bloc{
		padding: 20px 0 0 0;
	}	
	.cms-destock-meubles, .cms-services, .footer-content{
		border: none;
	}	
		
    .header a.logo{
        float: none!important;
        margin-left: auto!important;
        margin-right: auto!important;
        display: block;
        display: block;
    }	
	#contactForm .form-list .field{
		float: none;
	}	
	#contactForm .form-list input.input-text{
		width: auto;
	}	
	.product-discount-pourcent{
		left: 180px;
    }
    .product-prediggo-bottom {
        width: 99%;
    }
}

/*======================= largeur 900px ============================*/
@media (max-width: 900px) {	
	.cms-no-route .search_mini_form, .search_mini_form .form-search{
		width: auto !important;
	}
    .header h1.logo {
        width: 35%;
        float: none!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .quick-access {
        margin: 0 auto!important;
        float:none!important;
    }
    #nav > li > a > span {
        font-size: 1vw;
    }
}

/*========================== largeur 879px ============================*/
@media (max-width: 879px) {	
    .overlay_selection_product .overlay_selection_product_image a img.testkely {
        height: 45vh !important;
    }
    .overlay_selection_product .overlay_selection_product_image a img {
        height: 45vh !important;
    }
    div#fancybox-outer {
        top: 0!important;
        margin-top: 12vh;
    }
    #header-menu-informations > ul#header-account > li > a{
		background: url(../images/destock/picto-account-mobile.png) no-repeat scroll 64px 64px transparent;
	}	
	#header-menu-informations > ul#header-checkout > li > a{
		background: url(../images/destock/picto-cart-mobile.png) no-repeat scroll 64px 64px transparent;
	}
	.level-top > span > br{
		/*display: none;*/
		content:' ';
	}	
	.level-top > span > br:after{
		/*display: none;*/
		content:' ';
	}	
	#checkout-step-login #create-form{
		margin-left: 0px !important;
	}	
	.header .logo span{
		margin-left: 0px;
	}	
	.buttons-set{
		padding: 8px 0 8px 0;
	}	
	#info-tabs .product-tabs li a{
		width: auto;
	}
	.product-tabs-content{
		background: none;
		border-bottom: 1px solid #666666;
	}	
	.featured-selection .product-image img{
		/*margin-left: 10%;*/
	}	
	.featured-selection li.item {
        height: auto;
    }	
	.catalog-product-view .col-main{
		margin-top: 1%;
	}	
	.product-view .product-shop .product-name, .product-view .product-shop .availability{
		text-align: center;
	}	
	.product-view .product-shop .price-box{
		float: none;
		text-align: center;
		height: auto;
	}	
	.product-view .product-shop .product-shop-bottom label.label-qty{
		margin-left: 20%;
	}	
	.product-view .product-shop .product-shop-bottom{
		text-align: center;
	}	
	.product-view .product-shop .product-all-social{
		width: auto;
		float: none;
	}	
	.payment-3times{
		margin-bottom: 10px;
	}	
	.product-options{
		width: auto;
		padding: 6px 10px 20px;
	}	
	.product-view .product-img-box{
		width: auto;
	}	
	.product-tabs{
		height: auto;
	}	
	.product-tabs-content{
		padding-bottom: 0px;
	}	
	.product-tabs-content .finance-logos{
		display : block;
		float: none;
		width: auto;
		height: auto;
		text-align: center;
	}	
	.product-tabs-content .finance-zone{
		margin-top: 5%;
	}	
	.product-tabs-content .finance-zone .finance-content{
		background: none;
	}	
	.product-view .box-reviews .form-add .form-list input.input-text, .product-view .box-reviews .form-add .form-list textarea{
		width: auto;
	}	
	.catalog-product-view .col-main .featured-selection h3{
		text-align: center;
	}	
	.catalog-product-view .col-main .featured-selection .product-grid-bottom {
        width: 95%;
    }	
	.product-view .product-img-box .product-image a{
		padding: 10px;
	}
    #verticalrecolist li {
        width: 44%;
        /* margin: 0; */
        float: left;
        margin-left: 3%;
        margin-top: 2%;
        margin-bottom: 4%;
    }
    #toogle-resp{
        display: block!important;
        text-decoration: none;
    }
    .toogle-resp{
        display: block;
    }
    .nav{
        visibility: hidden;
        transition-duration:0.2s;
        position: absolute!important;
    }
    .nav li {
        float: none!important;
        display: flex !important;
        width: 100% !important;
        background: rgba(0,0,0,0.5)!important;
    }
    .nav_open{
        visibility: visible;
        transition-duration: 0.2s;
    }
    #nav > li > a {
        border-right: none;
        border-bottom: 1px solid rgba(247, 247, 247, 0.19);
        color: #FFFFFF !important;
        font-family: Arial,sans-serif;
        font-size: 12px;
        height: 34px;
        letter-spacing: -0.01em;
        padding-left: 13px;
        padding-right: 13px;
        position: relative;
        text-align: left !important;
        text-transform: uppercase;
        width: 100%!important;
    }
    #nav.menu.nav {
        max-width: 96%;
        background-color: rgba(168, 162, 131, 0.85)!important;;
    }
    .quick-access {
        float: none !important;
        margin: 0 auto;
    }
    .header .quick-right {
		top: 20px;
		left: 71vw;
		width: 24vw;
		position: absolute;
    }
    .header .quick-left {
        margin-left: 8vw;
        width: 74%;
    }
    .header .cms-header-links {
        text-align: left!important;
        margin-left: -27px;
    }
    #slide-commands a#next,
    #slide-commands a#prev {
        display: none !important;
    }
    #header-menu-informations ul>li.header-menu {
        position: absolute;
        z-index: 12;
        margin-top: 0px;
		margin-left: -86px;
    }
    .header .logo span {
        font-size: 11px!important;
        margin-top:0px!important;
    }
    .logo {
        float: none!important;
    }
    #slide-commands a#prev, #slide-commands a#next{
        display:none!important;
    }
    .cms-index-index .engagements-title {
        left: 0px;
    }
    .engagements-title {
        width: 170px;
    }
    #nav > li.nav-special > a {
        margin: auto;
        padding: 9px;
    }
    .submenu .submenu-center, .submenu .submenu-right{
        display: none;
    }
    #nav .submenu ul.level0 {
        float: none;
        padding: 0;
        width: auto;
    }
    .header {
        text-align: center;
    }
    .col2-left-layout .col-main {
        width: 100%!important;
    }
    .col2-left-layout .col-left {
        width: 100%;
        text-align: center;
    }
    .footer-container {
        margin-top: 40px;
    }
    .engagements-push {
        display:none;
    }
    .engagements .engagements-content {
        float: none;
        width: 100%!important;
    }
    .special-promo a span {
        background: none;
    }
	.special-soldes a span {
        background: none;
    }
    .footer-left {
        width: 100%!important;
    }
    .sitemap-listing {
        float: left;
        width: 50%;
        margin-left: 15px;
    }
    #shopping-cart-table{
        min-width: 820px;
    }
    #shopping-cart-table tbody td:nth-child(1) {
        min-width: 150px;
    }
    .cart form {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
    .products-list .product-shop {
        width: auto;
    }
    .category-products .products-grid {
        margin-left: auto;
        margin-right: auto;
    }
    #header-menu-informations > ul.hover > li > a {
        border: none!important;
    }
	#header-menu-informations > ul > li{
		height: 40px;
	}
    .col-cart-left {
        float: left;
        width: 100%;
    }
    .col-cart-right {
        float: left;
        width: 100%;
    }
    .finance-zone {
        width: 100%;
    }
    #layered-list dd {
        column-count: 2;
    }
    /*****************/
    .nav-container {
        width: 40px;
        /* height: 100px; */
        position:  absolute;
        top: 15px;
        z-index: 1111;
    }
    .page {
        position: relative;
    }
    #nav.menu.nav.nav_open {
        /* max-width: 148px!important; */
        position: absolute!important;
    }
    #nav.menu.nav {
        width: 37vw!important;
        max-width: 501px!important;
        min-width: 200px!important;
    }
    ul#nav {
        background: none;
    }
    #nav > li > a {
        /*border-bottom: 0.7px solid #ffffff38;*/
    }
    #nav > li > a > span {
        font-size: 11px;
    }
    .quick-access {
        /* margin: 0 auto!important; */
        width: 84%!important;
        margin-left: 17vw!important;
        /* margin-right: auto!important; */
    }
    #search-input {
        width: 33vw!important;
    }
    li.level1 ul.level1 {
        display: none;
    }
    .submenu li a {
        text-align: left!important;
        margin-left: 8px;
    }
    li.submenu-title {
        height: 22px;
    }
    #nav .submenu .submenu-title a {
        color: white!important;
        margin-left: 12vw;
        margin-top: 3px;
    }
    .submenu.shown-sub {
        position: inherit!important;
    }
    .submenu {
        margin-top: 45px;
        padding: 0!important;
        width: 100%!important;
        float: none!important;
        /* left: 322px!important; */
        margin-left: -54vw;
    }
    ul.level0 li.level1 {
        height: 33px;
        background: rgba(91, 88, 75, 0.92)!important;
    }
    ul.level0 li.level1 a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.34)!important;
        width: 100%;
        padding-top: 0px!important;
        padding-left: 0%!important;
    }
    ul.level0 li.level1 a span {
        color: white;
    }
    .block .block-content {
        background: #f8f7f5!important;
    }
    .submenu.shown-sub {
        position: absolute!important;
        left: 37vw!important;
        margin: 0;
        width: 30vw!important;
        min-width: 152px;
    }
    #narrow-by-list2 dd, #layered-list dd {
        /*padding: 0;*/
		margin-bottom: 20px;
		padding: 0 0 20px 0px;
    }	
    li.submenu-title a {
        color: white!important;
    }
    #nav .submenu .submenu-title a {
        color: white!important;
        margin-left: 5vw;
        margin-top: 3px;
		text-transform: uppercase;
    }
    ul.level0 li.level1 {
        height: 33px;
    }
    .nav li.level0 {
        height: 37px;
    }
    #nav li.level0 a span {
        margin-top: 4px;
    }
    #nav ul span, #nav ul li.last li span {
        padding:0;
    }	
	#header-menu-informations ul li a {
		background-size: 30px 30px!important;
		font-size: 0px;
		background-position: 10px 5px!important;
		width: 43px;
		padding: 0 0 0;
		/* padding-right: 0!important; */
	}
	#header-menu-informations > ul {
		width: 11vw;
		min-width: 23px;
	}
}
/*============================ Largeur 740 ============================*/
@media (max-width: 740px) {
	#footer-col3{
        display: none;
    }	
	.overlay_selection_product .overlay_selection_product_image a img{
		width: 100%;
	}	
	.overlay_selection_product .overlay_selection_product_image a{
		width: auto;
	}	
	.featured-selection .category-products{
		column-count: 2;
	}	
    #slide-3 table {
        display: none;
    }
    #slide-commands {
        left: 40% !important;
        top: 190px !important;
        width: 120px !important;
    }
    #div-interaktingslider {
        height: 220px;
    }
    .sitemap-bottom{
        margin-top: 20px;
        text-align: center;
    }
    .toolbar-bottom {
        /* display: none; */
        margin-top: 50px;
        display: inline-table;
        width: 100%;
    }
    .category-products .products-grid .item {
        float: none !important;
    }
    .category-products .products-grid {
        margin: 0 !important;
        float: left;
        width: 40% !important;
        padding-left: 8%;
    }
    .product-essential form {
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: center; */
        align-items: center;
        padding-top: 20px;
    }
    .product-view .product-shop {
        width: 100%;
        margin-top: 20px;
    }
    #info-tabs {
        margin-top: 46px;
    }
    #info-tabs .product-tabs li {
        width: 16%;
    }
    a.product-zoom.product-zoom-ajax {
        display: block;
    }
    .overlay_selection_product_image {
        /*width: 100%!important;*/
		width: 60%!important;
        /*overflow: auto;*/
    }
    .more-views {
        /*display: none;*/
    }
}
/*============================ Largeur 700px ============================*/
@media (max-width: 700px){
    .sitemap-bottom{
        margin-top: 20px;
        text-align: center;
    }
    .form-list li.wide .input-box { width:95%; }
    .form-list li.wide input.input-text { width:95%; }
    .form-list li.wide textarea { width:95%; }
    .form-list li.wide select { width:95%; }
    .form-list .input-box.input-email { width: 95%; }
    .form-list .input-box.input-email input.input-text { width: 95%; }
    .contact-select-object{width: 92%!important;}
    .account-login form {
        width: 100%;
		margin-top: 20px;
    }
    .category-products .products-grid .item {
        float: none !important;
    }
    .category-products .products-grid {
        margin: 0 !important;
        float: left;
        width: 40% !important;
        padding-left: 8%;
    }
    .toolbar-bottom {
        /* display: none; */
        margin-top: 50px;
        display: inline-table;
        width: 100%;
    }
    .sitemap-checkout {
        margin-top: 44px;
    }
}
/*============================ Largeur 580px =============================*/
@media (max-width: 580px) {
    .search_mini_form, .search_mini_form .form-search {
        width: 384px!important;
    }
}
/*============================ Largeur 550 ===============================*/
@media (max-width: 550px){
    .cart .totals {
        float: left;
    }
    .finance-content{
        width: 100%;
    }
    .search_mini_form, .search_mini_form .form-search {
        width: 279px!important;
    }
}
/*============================ Largeur 520 ==============================*/
@media (max-width: 520px) {
    .header-container {
        /* margin-bottom: 30px; */
    }
    .header {
        margin-bottom: 60px;
    }
    .nav-container {
        top: 16px;
    }
    .header h1.logo {
        width: 48%;
        margin: 0 auto;
        /* display: inherit; */
        position: inherit;
    }
    .header a.logo {
        margin: 0 auto;
        position: inherit;
        width: 50%!important;
    }
    .quick-access .quick-left {
        top: 165px;
        left: 43px;
        width: 60%;
    }
    .header {
        margin-bottom: 31px!important;
    }
    .quick-left {
        top: 100px!important;
        left: 19vw!important;
    }
    input#search {
        width: 200px!important;
    }
    div#search-input {
        width: 34vw;
    }
    .search_mini_form, .search_mini_form .form-search {
        width: 265px!important;
    }
    .cms-header-links ul li a {
        font-size: 8.5px!important;
    }
    .cms-header-links {
        width: 292px;
    }	
	.footer-col{
		/*float: none;*/
		float: left;
		/*text-align: center;*/
		width: auto;
	}	
	.cms-services, .cms-destock-meubles{
		/*border-left: none;
		padding: 0px;*/
	}	
	#footer-col2{
		width: auto;
	}	
	#footer-col2 #newsletter{
		/*margin-left: 20%;*/
	}	
	#newsletter-validate-detail-rp, #newsletter-validate-detail{
		padding: 0px 0 10px 5px;
	}	
	#newsletter-validate-detail-rp input, #newsletter-validate-detail input{
		width: 115px;
	}
	#header-menu-informations ul li a {
		background-size: 25px 25px !important;
	}
}
/*============================ IPHONE 6 PLUS ============================*/
@media (max-width: 420px) {
    div#fancybox-outer {
        top: 0!important;
        margin-top: 9vh;
    }
	.overlay_selection_product_image {
        width: 75%!important;
    }
	.seo-text{
		display: none;
	}
	.products-grid .product-name{
		padding: 0px;
	}	
	.form-list .field50.field50-left.field{
		margin: 0px 0px 0px;
	}	
	.form-list .field50.field, .form-list .field{
		width: 90%;
	}	
	.form-list .field{
		float: none;
	}	
	#checkout-step-login .account-login .content{
		width: 94% !important;
	}	
	#fancybox-wrap {
		/*margin-top: 5%;*/
		/*left: 0px !important;*/
	}	
	.catalog-product-view .featured-selection .products-grid .price-box{
		width: 55px;
	}	
	.featured-selection .category-products .products-grid li.item{
		height: 150px;
	}	
	.featured-selection .category-products .products-grid li.item .product-zoom-ajax{
		margin-left: 0%;
	}	
	.product-discount-pourcent{
		left: 245px;
	}	
	#newsletter-validate-detail-rp .newsletter-button, #newsletter-validate-detail .newsletter-button{
		padding: 0px 5px 0px 0px;
	}	
	/*.finance-button-checkout{
		margin-right: -90px !important;
	}*/	
	#checkout-payment-method-load ul li.p_method_systempaymulti span{
		left: 20px;
	}	
	#checkout-payment-method-load ul li.p_method_cashondelivery span{
		left: 20px;
	}	
	#checkout-payment-method-load ul li.p_method_mandat span{
		left: 20px;
	}	
	#checkout-payment-method-load ul li span{
		width: 150px;
	}	
	#shopping-cart-table tbody td:nth-child(1){
		min-width: 75px;
	}	
	#shopping-cart-table tbody td:nth-child(2){
		width: 80px;
	}	
	.featured-selection .category-products{
		column-count: 2;
	}	
	.featured-selection .product-image img{
		margin-left: 0px;
	}	
	.featured-selection .products-grid .product-image{
		width: auto;
	}	
	#narrow-by-list2 dd, #layered-list dd{
		padding: 0 0 20px 0px;
	}	
	.breadcrumbs{
		letter-spacing: -0.05em;
		line-height: 15px;
	}	
	.cms-page-view .page-title{
		margin-top: 5%;
	}	
	.footer-col{
		/*float: none;*/
		float: left;
		/*text-align: center;*/
		width: 47%;
	}	
	.cms-services, .cms-destock-meubles{
		/*border-left: none;
		padding: 0px;*/
	}	
	#footer-col2, #footer-col1{
		/*width: auto;*/
		/*width: 50%;*/
	}	
	.catalog-category-view #layered-list{
		column-count: 1;
	}	
	#narrow-by-list2 dt, #layered-list dt{
		padding: 10px 0 0 0px;
	}	
	#info-tabs .product-tabs li a{
		width: auto;
	}	
	#search-input_404{
		width: auto;
	}	
	#search_mini_form_404 .form-search input.input-text{
		width: auto !important;
	}	
	.catalog-product-view .col-main{
		margin-top: 1%;
	}	
	.product-view .product-shop .product-name, .product-view .product-shop .availability{
		text-align: center;
	}	
	.product-view .product-shop .price-box{
		float: none;
		text-align: center;
		height: auto;
	}	
	.product-view .product-shop .product-all-social{
		width: auto;
		float: none;
	}	
	.payment-3times{
		margin-bottom: 10px;
	}	
	.product-options{
		width: auto;
		padding: 6px 10px 20px;
	}	
	.product-view .product-img-box{
		width: auto;
	}	
	.product-tabs{
		height: auto;
	}	
	.product-tabs-content{
		padding-bottom: 0px;
	}	
	.product-tabs-content .finance-logos{
		display : block;
		float: none;
		width: auto;
		height: auto;
		text-align: center;
	}	
	.product-tabs-content .finance-zone{
		margin-top: 5%;
	}	
	.product-tabs-content .finance-zone .finance-content{
		background: none;
	}	
	.product-view .box-reviews .form-add .form-list input.input-text, .product-view .box-reviews .form-add .form-list textarea{
		width: auto;
	}	
	.catalog-product-view .col-main .featured-selection h3{
		text-align: center;
	}	
	.catalog-product-view .col-main .featured-selection .product-grid-bottom {
        width: 95%;
    }	
	.product-view .product-img-box .product-image a{
		padding: 10px;
	}	
    .finance-content {
        padding-left: 0;
        padding-right: 0;
		background: none;
    }
    .pager .limiter {
        display: none;
    }
    .col2-set .col-1 {
        width: 100%;
    }
    .col2-set .col-2 {
        float: none;
        width: 100%;
    }
    .sitemap-listing {
        width: auto;
        margin: 15px;
    }
    .sitemap-column {
        width: auto;
    }
    .sitemap-checkout {
        width: auto;
    }
    .sitemap-bottom {
        margin-top: 20px;
        text-align: center;
    }
    .sitemap-column {
        width: auto;
    }
    .sitemap-checkout {
        width: auto;
    }
    .sitemap-bottom {
        margin-top: 20px;
        text-align: center;
    }
    .footer-content {
        border-right: none;
		/*border-left: none;
		padding: 0px;*/
    }	
	#newsletter-validate-detail-rp, #newsletter-validate-detail{
		padding: 0px 0 10px 5px;
	}	
	#newsletter-validate-detail-rp input, #newsletter-validate-detail input{
		width: 100px;
	}	
	#footer-col2 #newsletter{
		/*margin-left: 20%;*/
	}
    .header {
        text-align: center;
    }
    .header h1.logo {
        width: 45% !important;
    }
    .header .quick-left {
        float: none;
        height: 65px;
        width: auto;
    }
    .header .quick-right {
        float: none;
        height: 0px;
    }
    .header .cms-header-links {
        text-align: center;
    }
    .engagements-item {
        width: 50%;
    }
    .featured-selection.home-reco {
        margin-top: 0vh;
    }
    .featured-selection.home-reco h3 {
        padding-left: 17px;
        font-size: 14px;
    }
    .recolist .jcarousel-prev-horizontal {
        left: 240px !important;
    }
    .recolist .jcarousel-next-horizontal {
        left: 274px !important;
    }
    .featured-selection.home-reco li.item {
        width: /*40vw*/ 39vw !important;
    }
    .featured-selection .regular-price .price {
        font-size: 16px;
    }
    .featured-selection .product-grid-bottom {
        /*width: 147px !important;*/
    }	
	.jcarousel-item-horizontal img.recoImage {
		margin-left: 3%;
	}	
	.jcarousel-item-horizontal .product-grid-bottom {
		width: 147px !important;
	}
    .featured-selection.home-reco li.item .product-name a {
        font-size: 13px;
    }
    .featured-selection.home-reco .price-box {
        width: 25%;
    }
    .featured-selection.home-reco .product-zoom {
        margin-right: 4px;
    }
    .col2-left-layout .col-main {
        width: 100% !important;
    }
    .col-left.sidebar {
        width: 100%;
        margin-top: 31px;
    }
    .engagements-push {
        display: none;
    }
    .engagements .engagements-content {
        float: none;
        width: 100% !important;
    }
    .category-products .products-grid {
        width: 80% !important;
        margin-left: -5px !important
    }
    .products-list .product-name a {
        font-size: 14px !important;
    }
    .category-products .products-grid li.item {
        width: 100%;
    }
    .product-grid-bottom {
        width: 90%;
    }
    .category-products .product-grid-bottom {
        width: 90%;
    }
    #slide-commands {
        width: auto !important;
        top: 125px !important;
        left: 110px !important;
    }
    #div-interaktingslider {
        height: 150px;
    }
    .price sup {
        text-indent: 0px /*6px*/;
    }
    .account-login form {
        width: 100%;
		margin-top: 20px;
    }
    #slide-3 table {
        display: none;
    }
    #slide-3 img {
        height: 100px !important;
    }
    .category-image {
        float: none !important;
        margin-bottom: 10px !important;
    }
    #layered-list dd {
        column-count: 2;
    }
    #verticalrecolist li {
        width: 45%;
        /* margin: 0; */
        float: left;
        margin-left: 3%;
        margin-top: 2%;
        margin-bottom: 4%;
    }
    .sitemap-checkout {
        margin-left: 15px;
    }	
	.pager .amount{
		float: none;
	}	
	.pager .pages{
		margin: 0px;
	}
    .pages {
        display: block;
        /*float: left;
        margin-left: 0px !important;*/
    }
    .products-grid .product-image {
        height: 110px;
        padding-bottom: 5px;
        width: 214px;
    }	
	.featured-selection .products-grid .product-image {
        height: 80px;
        /*padding-bottom: 5px;*/
        width: auto;
    }
    .item a.product-image {
        margin-left: auto !important;
        margin-right: auto !important;
        display: block;
        float: none;
    }
    #info-tabs .product-tabs li {
        width: 33%;
    }
    div.product-tabs-content {
        padding-top: 10%;
    }
    .product-return-button {
        display: none;
    }
    .submenu {
        margin-left: -58vw;
    }
    .search_mini_form, .search_mini_form .form-search {
        width: auto !important;
        /*right: -45px;*/
    }	
	#search-input{
		width: 58vw!important;
	}	
	.search_mini_form .form-search .search-input input.input-text{
		width: 210px!important;
	}	
	.search-button{
		margin-right: -80px;
	}	
	#search_mini_form_404 .form-search {
		right: 0px;
    }	
	.header .logo span{
		margin-left: 0px;
	}
    .header .quick-access {
        margin-left: 0px!important;
    }
    .header .cms-header-links {
        width: 111%!important;
        margin: 0;
		text-align: center !important;
    }
    .header .cms-header-links ul li a {
        font-size: 8.5px;
    }
    .submenu.shown-sub {
        left: 187px!important;
    }
    #nav.menu.nav {
        min-width: 187px!important;
    }
    #discount-coupon-form {
        float: none!important;
        margin: 0 auto!important;
    }
    .cart .totals {
        float: none!important;
        margin-left: auto;
        margin-right: auto;
    }
    .cms-cart-shipping {
        float: none;
        margin: 0 auto;
    }
    .finance-left {
        float: none;
        margin: 0 auto;
    }
    div#fancybox-outer {
        top: -24vh;
        /*left: 5vw;*/
	}
}
/*======================== Largeur 320px ======================*/
@media (max-width: 320px) {
    #nav.menu.nav {
        min-width: 167px!important;
    }
    .submenu.shown-sub {
        left: 166px!important;
        min-width: 147px!important;
    }
}

@media (max-height: 400px){
	.overlay_selection_product .overlay_selection_product_image a img {
		width: 65%;
	}
}
